@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel .thumbs-wrapper {
    display: flex;
    justify-content: center;
}




@media screen and (min-width: 992px) {
    .carousel .slider-wrapper {
        height: 650px;
    }
}
